body{
    background-color: rgb(255, 252, 248);
    color: black;
}
strong {
    color: rgb(0, 0, 0);
}
h1{
margin:20px;
padding:10px;
text-align: center;
font-size: 36px;
color: black;

img{
    position: absolute;
    top: 20px;
    left: 125px;
}
}
